<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividades GMLL</title>
    <link rel="stylesheet" href="css/JS6.css" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <body background="img/fondo2.jpg">
    <header>
        <h1><a href="#">Actividades del primer parcial </a></h1>
    </header>
    <section class="row container-fluid" id="todo">
        <aside id="lateral" class="col-sm-3">
            <label for="temas" id="menu">Menú de Navegación</label>
            <select name="temas" id="temas">
                <option value="bienv" default>Seleccione...</option>
                <option value="cajas">Cajas</option>
                <option value="cuest">Cuestionario</option>
                <option value="nodos">Reservación de Mesas</option>
                <option value="tarjeta_fel">Tajerta de Felicitación</option>
                <option value="vuejs">Encuesta Programación</option>
                <option value="clase">EInventario del gimnasio</option>
            </select>
        </aside>  
        <section id="principal" class="col-sm-9">
            <div id="bienv" class="bienv">
                <h2 id="bienv_text">Alumno: Galván Muñoz Luis Leonel</h2>
                <h2 id="bienv_text">Docente: Mtra. Anahí Montserrat Torres Tinoco</h2>
            </div>
                <article id="clase" class="contenedor">
                    <header  class="bg-success text-center text-white">
                        <h1>Las barras praderas</h1>
                        <img src="img/gym.jpg" width="50px">
                    </header>
                    <h4>Lista de productos</h4>
                    <table border="2px" id="tabla">
                        <tr>
                            <th>Cantidad</th>
                            <th>Producto</th>
                            <th>Importe</th>
                            <th>Total</th>
                        </tr>
                        <tr v-for="prod in products">
                            <td><input type="number" v-model="prod.cant"></td>
                            <td><input type="text" v-model="prod.nombre"></td>
                            <td><input type="number" v-model="prod.price"></td>
                            <td>{{calculo(prod)}}</td>
                        </tr>
                    </table>
                    <p><button @click="agregar()">Añadir Articulo</button></p>
                    <hr>
                    <h3>Subtotal: ${{Subtotal}}</h3>
                    <h3>Iva: ${{Iva}}</h3>
                    <h3>Total: ${{Total}}</h3>
                    <script src="js/evj.js"></script>
                </article>    
            <article id="vuejs" class="contenedor">
                <div id="app" class="container">
                    <header>
                        <nav>
                            <figure><img class="logo" src="img/logo.jpg" width="40px" height="40px"></figure>
                            <section class="titulo"><h1>Encuesta Frameworks</h1></section>
                            <p>Galván Muñoz Luis Leonel - EVN401</p>
                        </nav>
                    </header>
                    <br>
                    <h4>¿Te gusta programar?</h4>
                    <div class="radio">
                    <label class="radio-inline">
                    <input type="radio" v-model="vue.exp" v-bind:value="true"> Sí
                    </label>
                    <label class="radio-inline">
                    <input type="radio" v-model="vue.exp" :value="false"> No
                    </label>
                    </div>
                 <template v-if="vue.exp">
                
                    <div class="form-group">
                        <label for="vue_years">¿Cuántos años llevas programando?</label>
                        <input type="number" v-model="vue.years" class="form-control">
                    </div>
                
                    <div class="form-group">
                        <label>¿Cuántos lenguajes de programación conoces?</label>
                        <input type="text" v-model="lenguaje" @keyup.enter="agregar()"/>
                        <button @click="agregar()">Agregar lenguaje</button>
                        <ul>
                            <li v-for="(len, index) in lenguajes":key="index">{{len}}</li>
                        </ul>
                    </div>
            
                    <div v-if="vue.years &lt; 2" class="form-group">
                        <label for="vue_years">¿Qué te motiva a programar?</label>
                        <textarea v-model="vue.description" class="form-control" rows="4"></textarea>
                    </div>
                
                    <div v-else="" class="form-group">
                    <label for="vue_years">Cuéntanos tu experiencia con Vue.js</label>
                    <textarea v-model="vue.desc" class="form-control" rows="4"></textarea>
                    <div v-else-if="vue.description.length &gt; 1000" class="alert alert-danger" role="alert">
                    El texto no puede contener más de 1000 caracteres, este contiene {{ vue.description.length }}.
                    </div>
            
                   
                </template>
            
                <template v-else="vue.exp" class="agradecimiento">
                    <h2>Gracias por apoyarnos</h2>
                </template>
                <p><button @click="resumen()">Mostrar resumen de las preguntas</button></p>
                <span v-if="respuesta1">
                    <p>¿Te gusta programar?: {{vue.exp}}</p>
                    <p>¿Cuántos años llevas programando?: {{vue.years}}</p>
                </span>
                <span v-if="respuesta2">
                    <p>¿Qué te motiva a programar?: {{vue.description}}</p>
                </span>
                <span v-if="respuesta3">
                    <p>Cuéntanos tu experiencia con Vue.js: {{vue.desc}}</p>
                    <p>Los lenguajes de programación que conoces:</p>
                    <p><ul>
                        <li v-for="(len,index) in lenguajes":key="index">{{len}}</li>
                    </ul></p>
                <footer class="footer">
                    © 2021 Leonel Galván 
                </footer>
                </div>
                <script src="https://unpkg.com/vue@2.1.8/dist/vue.js"></script>
                <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
                
                <script src="js/vjs.js"> </script>
            </article>
            <article id="cajas" class="contenedor">
                <h3>Número de cajas y su estilo</h3></br>
                <input type="text" id="numcaj" placeholder="Cajas por mostrar"/>
                <p></br></p>
                <label for="colorcaj">Seleccione un Color</label>
                <select name="colorcaj" id="colorcaj">
                    <option value="az">Azul</option>
                    <option value="ro">Rojo</option>
                    <option value="am">Negro</option>
                    <option value="ve">Gris</option>
                    <option value="vi">Morado</option>
                </select>
            </br>
                <label for="tipoborde">Seleccione un Borde</label>
                <select name="tipoborde" id="tipoborde">
                    <option value="pu">Punteado</option>
                    <option value="so">Solido</option>
                    <option value="do">Doble borde</option>
                    <option value="li">Guiones</option>
                </select> 
                <p></br></p>
                <input type="button" value="Mostrar" onClick="mostrarCajas()">
                <p></br></p>
                <div class="fluid-container">
                    <p id="mostrarcajas"></p>
                </div>
            </article>
            <article id="cuest" class="contenedor">
                <div id="preguntas_encuesta">
                    <h3>Encuesta escolar</h3><br>
                    <label for="resp_1" id="preg_1">¿Qué tipo de comida prefiere comer en la escuela?</label>
                        <select name="resp_1" id="resp_1">
                            <option value="Tortas y tacos">Tortas/tacos</option>
                            <option value="Ensalada">Ensalada</option>
                      <option value="Sandwiches">Sandwiches</option>
                        </select><br><br>
                        <label for="resp_2" id="preg_2">¿Qué deporte práctica dentro del campus?</label>
                        <select name="resp_2" id="resp_2">
                            <option value="Futbol">Futbol</option>
                      <option value="Tenis">Tenis</option>
                      <option value="No practico ningun deporte">No practico</option>
                        </select><br><br>
                        <label for="resp_3" id="preg_3">¿Cuál es su materia favorita?</label>
                        <select name="resp_3" id="resp_3">
                            <option value="Matematicas">Matemáticas</option>
                            <option value="Español">Español</option>
                            <option value="Artes">Artes</option>
                        </select><br><br>
                        <label for="resp_4" id="preg_4">¿Qué le gustaría que se incluyera en el campus?</label>
                        <select name="resp_4" id="resp_4">
                            <option value="Casilleros">Casilleros</option>
                            <option value="Maquinas expendedoras">Maquinas expendedoras</option>
                            <option value="Papeleria">Papeleria</option>
                        </select><br><br>
                        <label for="resp_5" id="preg_5">¿Cómo llegas al campús?</label>
                        <select name="resp_5" id="resp_5">
                            <option value="Vehiculo propio">En vehículo propio</option>
                      <option value="Transporte urbano">Transporte urbano</option>
                      <option value="Me llevan">Algun familiar me lleva</option>
                        </select><br><br>
                    <input type="button" value="Mostrar Resultados" onClick="mostrarResultados()">
                </div>
                <div id="mostrarresultados" class="fluid-container">
                    <h3 id="titulo_resp"></h3><br>
                    <div id="pr1"></div><br>
                    <div id="pr2"></div><br>
                    <div id="pr3"></div><br>
                    <div id="pr4"></div><br>
                    <div id="pr5"></div><br>
                </div>
            </article>
            <article id="nodos" class="contenedor">
                <h3>Reservación de mesas</h3>
                <select id="reservacion">
                    <option value="0">Seleccione una opción</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <p id="mesas"></p>
                <a id="mostrar">Mostrar</a>
            </article>
            <article id="tarjeta_fel" class="contenedor">
                <h3>Crea tu Tarjeta de Felicitación</h3><br>
                <h4>Elija un tema</h4>
                <select id="tipo_tar">
                    <option value="0">Seleccione una festividad</option>
                    <option value="tar_nav">Navidad</option>
                    <option value="dia_ind">Día de la Independencia</option>
                    <option value="dia_prog">Día del Programador</option>
                </select><br><br>
                <div id="tar_nav" name="tar_img" class="contenedorImg">
                    <p>
                        <img src="img/navidad1.png" alt="" style="width: 200px; margin: 10px 10px;" onclick="imgTarjeta('navidad1')">
                        <img src="img/navidad2.png" alt="" style="width: 200px; margin: 10px 10px;" onclick="imgTarjeta('navidad2')">
                        <img src="img/navidad3.png" alt="" style="width: 200px; margin: 10px 10px;" onclick="imgTarjeta('navidad3')">
                    </p>
                </div>
                <div id="dia_ind" name="tar_img" class="contenedorImg">
                    <p>
                        <img src="img/independencia1.png" alt="" style="width: 200px; margin: 10px 10px;" onclick="imgTarjeta('independencia1')">
                        <img src="img/independencia2.png" alt="" style="width: 200px; margin: 10px 10px;" onclick="imgTarjeta('independencia2')">
                        <img src="img/independencia3.png" alt="" style="width: 200px; margin: 10px 10px;" onclick="imgTarjeta('independencia3')">
                    </p>
                </div>
                <div id="dia_prog" name="tar_img" class="contenedorImg">
                    <p>
                        <img src="img/programador1.png" alt="" style="width: 200px; margin: 10px 10px;" onclick="imgTarjeta('programador1')">
                        <img src="img/programador2.png" alt="" style="width: 200px; margin: 10px 10px;" onclick="imgTarjeta('programador2')">
                        <img src="img/programador3.png" alt="" style="width: 200px; margin: 10px 10px;" onclick="imgTarjeta('programador3')">
                    </p>
                </div>
                <h4>Texto en la Tarjeta</h4><br>
                <input type="text" placeholder="Destinatario" id="nombre_envia" style="width: 30rem;" oninput="nombreEnvia()"><input type="color" id="color_nombre_envía" oninput="nombreEnvia()"><br><br>
                <input type="text" placeholder="Titulo de la tarjeta" id="saludo" style="width: 30rem;" oninput="saludoTexto()"><input type="color" id="color_saludo" oninput="saludoTexto()"><br><br>
                <form>
                    <textarea name="cuerpo_tex" id="cuerpo_tex" cols="50" rows="4" placeholder="Capture el cuerpo del mensaje" oninput="cuerpoTexto()"></textarea>
                    <input type="color" id="color_cuerpo_tex" oninput="cuerpoTexto()">
                </form>
                <input type="text" placeholder="Remitente" id="nombre_manda" style="width: 30rem;" oninput="nombreManda()"><input type="color" id="color_nombre_manda" oninput="saludoTexto()"><br><br>
                <p>Color de fondo:&nbsp;<input type="color" id="bcg_col"></p><br>
                <h3>Vista Previa</h3>
                <div id="VistaPrevia" class="VistaPrevia">
                    <div>
                        <div id="nombre_envia_caja">
                            <p id="nombre_envia_texto"></p>
                        </div>
                        <div id="saludo_texto_caja">
                            <p id="saludo_texto"></p>
                        </div>
                        <div id="cuerpo_texto_caja">
                            <p id="cuerpo_texto"></p>
                        </div>
                        <div id="nombre_manda_caja">
                            <p id="nombre_manda_texto"></p>
                        </div>
                        <div id="Vista_Previa_Img">
                            <img src="img/fondo.png" alt="" id="Vista_Previa" style="width: 750px; height: 530px; margin: 47px 10px;">
                        </div>
                    </div>
                </div>
                <div>
                    <a id="mostrar_tarfel">Ver tarjeta</a>
                </div>
            </article>
            <p id="resultado" class="res">
                Mostrar resultados desde Javascript
            </p>
            
        </section>
    </section>
<script src="js/funcionalidad.js"></script>
</body>
</html>

